text
url --mirrorlist=${install_mirror}
lang en_US.UTF-8
keyboard us
timezone America/Los_Angeles --utc
rootpw --lock
user --name=${username} --groups=wheel --password=${password} --plaintext
${network_line}
bootloader --location=mbr
zerombr
clearpart --all --initlabel
autopart --type=lvm
firewall --enabled --service=ssh
services --enabled=sshd,NetworkManager,qemu-guest-agent
selinux --enforcing
skipx
firstboot --disable
reboot --eject

%packages
@core
openssh-server
qemu-guest-agent
sudo
python3
%end

%post --log=/root/ks-post.log
echo "${hostname}" > /etc/hostname
%end
